<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522131753011-li9p2o7fucmb257jq7fps5m8gdmovd6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522131753011-li9p2o7fucmb257jq7fps5m8gdmovd6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCZbOHUcBYv3fLKT_vOKhm1IpL_CwXm2vA</string>
	<key>GCM_SENDER_ID</key>
	<string>522131753011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etiqaAssestment</string>
	<key>PROJECT_ID</key>
	<string>etiqa-assessment-9ab1d</string>
	<key>STORAGE_BUCKET</key>
	<string>etiqa-assessment-9ab1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522131753011:ios:34e9c959aedefab9f63b46</string>
</dict>
</plist>